.hero {
    background-color: black;
    position: relative;
    width: 100%;
    height: 782px;
    display: grid;
    overflow: hidden;
    grid-template-rows: 80px auto 128px; /* 1st row, 2nd row, 3rd row */
    overflow-x: auto;
    white-space: nowrap;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;    
    height: 100%;
    background-image: url("../assets/img/hero-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(100px);
    z-index: 0;
}

.hero * {
    z-index: 1;
    position: relative;
}

.hero .container {
    display: grid;
    place-items: center;
    margin-top: 100px;
    height: 374px;
}

.hero .container .text-form {
    display: grid;
    place-items: center;
    height: 234px;
}
.hero .container .text-form .text {
    height: 114px;
    gap: 90px;
}

.hero .container .text-form .text h1 {
    font-size: 70px;
    color: white;
    text-align: center;
    font-weight: bold;  
}

.hero .container .text-form p {
    font-size: 18px;
    color: white;
    text-align: center;
    opacity: 80%;
    font-weight: medium;
    margin-top: 8px;
}

.hero .container .form {
    display: flex; 
    margin-top: 40px;
    overflow: hidden;
}

.hero .container .form input, 
.hero .container .form select {
    padding: 0 36px;
    height: 80px;
    border: none;
    font-size: 16px;
    background-color: white;
    outline: none;
}

.hero .container .form select {
    cursor: pointer;
    border-radius: 0px;
    color: rgba(0, 0, 0, 0.5);
    -webkit-appearance: none; /* Safari y Chrome */
    -moz-appearance: none;    /* Firefox */
    appearance: none;
}

.hero .container .form input {
    border-radius: 16px 0 0 16px; /* top-left, top-right, bottom-right, bottom-left */
}

.hero .container .form .search-btn {
    border-radius: 0 16px 16px 0;
    cursor: pointer;
    padding: 0 28px;
    height: 80px;
    color: white;
    background-color: #309689;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero .container .form .search-btn:hover {
    background-color: #1e6565;
}

.hero .container .form .search-btn img {
    height: 16px;
}

.hero .container .form .search-btn p {
    opacity: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

.hero .container .stats {
    display: flex;
    margin-top: 80px; 
    gap: 60px;
}

.hero .container .stats .stat {
    color: white;
    font-weight: bold;
    width: 160px;
    display: flex;
    gap: 12px;
}

.hero .container .stats .stat .icon-bg {
    background-color: #309689;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: grid;
    place-items: center;
}

.hero .container .stats .description {
    margin-top: 10px;
}

.hero .container .stats .description .number {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  
.hero .container .stats .description .text {
    color: white;
    font-weight: lighter;
    font-size: 16px;
}

.hero .container .stats .stat .icon-bg img {
    width: 28px; 
    height: 28px; 
}

.hero .logos {
    background-color: black;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.hero .logos::before,
.hero .logos::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, black, transparent);
    z-index: 2;
}

.hero .logos::before {
    left: 0;
}

.hero .logos::after {
    right: 0;
    transform: rotate(180deg);
}

.hero .logos img {
    height: 48px;
    margin: 0 72px;
    transition: 0.5s ease;
}

.hero .logos .scroll-logos {
    display: flex;
    animation: scroll-logos 30s linear infinite;
    min-width: 100%;
}

.hero .logos .logos-wrapper {
    display: flex;
}

@keyframes scroll-logos {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

main .jobs {
    width: 100%;
}

main .jobs .container {
    margin: auto;
    max-width: 80%;
    padding: 60px 0;
}

main .jobs h2 {
    font-size: 50px;
    font-weight: bold;
}

main .jobs .wrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

main .jobs .jobs-description {
    font-size: 16px;
}

main .jobs .view-all-link {
    font-size: 24px;
    color: #309689;
    margin-left: auto;
    font-weight: 600;
}

main .jobs .jobs-list {
    flex-basis: 100%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main .jobs .jobs-list .job {
    width: 100%;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 3px 8px rgba(48, 150, 137, 0.08);
    padding: 40px;
}

main .jobs .jobs-list .job .save-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    color: #6c757d;
}

main .jobs .jobs-list .job .time {
    user-select: none;
    background-color: rgba(48, 150, 137, 0.1);
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    color: #309689;
    font-size: 16px;
}

main .jobs .jobs-list .job .details {
    margin-top: 24px;
    display: flex;
    gap: 20px;
}

main .jobs .jobs-list .job .details .position {
    font-size: 28px;
    font-weight: 600;
}

main .jobs .jobs-list .job .details .location {
    font-size: 16px;
    margin-top: 5px;
}

main .jobs .jobs-list .job .details-2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

main .jobs .jobs-list .job .details-2 .more-details {
    display: flex;
    gap: 20px;
}

main .jobs .jobs-list .job .details-2 .more-details .item {
    display: flex;
    gap: 8px;
    align-items: center;
}

main .jobs .jobs-list .job .details-2 .more-details .item p {
    font-size: 16px;
    color: #6c757d;
    font-weight: 600;
}

main .jobs .jobs-list .job .details-2 .job-details-btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #309689;
    border: none;
    border-radius: 8px;
    padding: 14px 20px;
    cursor: pointer;
    font-family: "Figtree", serif;
    transition: 0.3s ease;
}

main .jobs .jobs-list .job .details-2 .job-details-btn:hover {
    background-color: #1b5850;
}

main .categories {
    width: 100%;
    background-color: rgba(48, 150, 137, 0.1);
    padding: 60px 0;
}

main .categories .container {
    max-width: 80%;
    margin: auto;
}

main .categories h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

main .categories .container > p {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

main .categories .cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

main .categories .cards .card {
    background-color: white;
    padding-top: 100%;
    width: 100%;
    border-radius: 20px;
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
    user-select: none;
}

main .categories .cards .card:hover {
    filter: brightness(0.9);
}

main .categories .cards .card .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

main .categories .cards .card .content .category-name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

main .categories .cards .card .content .category-jobs-count {
    text-align: center;
    padding: 5px 12px;
    background-color: rgba(48, 150, 137, 0.1);
    color: #309689;
    border-radius: 8px;
}

main .info-block {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 60px;
}

main .info-block .container {
    margin: auto;
    max-width: 80%;
}

main .info-block .search {
    display: flex;
    align-items: center;
    gap: 80px;
}

main .info-block .search .bg-img-wrapper {
    width: 30vw;
    height: 30vw;
    border-radius: 20px;
    overflow: hidden;
    background-color: #888d92;
}

main .info-block .search .bg-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: blur(20px);
}

main .info-block .search .ad {
    max-width: 600px;
    flex: 1;
}

main .info-block .search .ad h3 {
    font-size: 50px;
    font-weight: bold;
}

main .info-block .search .ad p {
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px;
}

main .info-block .search .ad .btns {
    margin-top: 60px;
}

main .info-block .search .ad .btns .search-btn {
    color: white;
    background-color: #309689;
    border: none;
    padding: 14px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Figtree", serif;
}

main .info-block .search .ad .btns .learn-more-link {
    color: #309689;
    font-size: 16px;
    font-weight: 600;
    margin-left: 24px;
}

main .info-block .search .ad .btns .search-btn:hover {
    background-color: #1b5850;
}

main .info-block .stats {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

main .info-block .stats .stat {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .info-block .stats .stat .number {
    font-size: 40px;
    font-weight: bold;
    color: #309689;
}

main .info-block .stats .stat .title {
    font-size: 24px;
    font-weight: 600;
}

main .info-block .stats .stat .description {
    font-size: 16px;
    line-height: 24px;
}

main .banner {
    width: 100%;
    padding: 60px 0;
}

main .banner .container {
    margin: auto;
    max-width: 80%;
}

main .banner .card {
    display: flex;
    background-color: black;
    width: 100%;
    height: 420px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    overflow: hidden;
}

main .banner .card .content {
    padding: 20px;
}

main .banner .card .content h3 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    max-width: 500px;
}

main .banner .card .content p {
    font-size: 16px;
    color: white;
    margin-top: 20px;
    max-width: 500px;
}

main .banner .card .content button {
    margin-top: 60px;
    color: white;
    background-color: #309689;
    border: none;
    padding: 14px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

main .banner .card .content button:hover {
    background-color: #1b5850;  
}

main .banner .card .img-wrapper {
    width: 50%;
    height: 100%;
}

main .banner .card .img-wrapper img {
    filter: blur(20px);
    transform: scale(1.5);
    margin-top: 140px;
    margin-left: 80px;
}

main .testimonials {
    width: 100%;
    padding: 120px 0;
    background-color: #ebf5f4;
}

main .testimonials .container {
    margin: auto;
    max-width: 80%;
}

main .testimonials h2 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

main .testimonials .container > p {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

main .testimonials .testimonials-slider {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

main .testimonials .testimonials-slider .testimonial {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 3px 8px rgba(48, 150, 137, 0.05);
}

main .testimonials .testimonials-slider .testimonial .review-title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
}

main .testimonials .testimonials-slider .testimonial .review-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}

main .testimonials .testimonials-slider .testimonial .quote-wrapper {
    margin-top: 20px;
    text-align: right;
}

main .testimonials .testimonials-slider .testimonial .review-author {
    display: flex;
    align-items: center;
    gap: 10px;
}

main .testimonials .testimonials-slider .testimonial .review-author .author-img-wrapper {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}

main .testimonials .testimonials-slider .testimonial .review-author img {
    width: 64px;
    height: 64px;
    filter: blur(5px);
    border-radius: 50%;
}

main .testimonials .testimonials-slider .testimonial .review-author .author-name {
    font-size: 16px;
    font-weight: 600;
}

main .testimonials .testimonials-slider .testimonial .review-author .author-role {
    font-size: 16px;
    opacity: 0.6;
    margin-top: 7px;
}  

main .blog {
    width: 100%;
    padding: 60px 0;
}

main .blog .container {
    margin: auto;
    max-width: 80%;
}

main .blog h2 {
font-size: 50px;
font-weight: 600;
}

main .blog .wrapper {
margin-top: 20px;
width: 100%;
display: flex;
justify-content: space-between;
}

main .blog .description {
font-size: 16px;
line-height: 24px;
}

main .blog .view-all-link {
font-size: 24px;
color: #309689;
font-weight: 600;
}

main .blog .posts {
margin-top: 50px;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
}

main .blog .posts .post .img-wrapper {
position: relative;
width: 100%;
height: 400px;
border-radius: 20px;
overflow: hidden;
background-color: #888d92;
}

main .blog .posts .post .img-wrapper img {
width: 100%;
height: 100%;
object-fit: cover;
filter: blur(20px);
}

main .blog .posts .post .tag {
position: absolute;
top: 20px;
left: 30px;
background-color: #309689;
color: white;
padding: 5px 20px;
border-radius: 12px;
font-size: 16px;
font-weight: 600;
z-index: 1;
}

main .blog .posts .post .content .date {
margin-top: 20px;
font-size: 16px;
font-weight: 600;
color: #8B8B8B;
}

main .blog .posts .post .content .title {
margin-top: 20px;
margin-bottom: 20px;
font-size: 24px;
font-weight: 600;
}

main .blog .posts .post .content .read-more-link {
font-size: 16px;
color: #309689;
font-weight: 600;
line-height: 24px;
display: flex;
align-items: center;
gap: 10px;
}  